{
  "extends": "stylelint-config-recommended",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "no-missing-end-of-source-newline": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": [
        "include",
        "mixin"
      ]
    }],
  }
}