html {
  font-size: 10px;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: 1.2;
}

a {
  color: $white;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
  }
}
