$black: #000;
$white: #fff;
$pink: #f5989d;
$blue: #2e3b4e;
$light-blue: #8297a7;
$violet: #615f7d;
$lilac: #bd8cbf;
$green: #82ca9c;
$grey-green: #222626;
$grey-blue: #67676d;
$grey-light: #f6f7fa;
$grey-middle: #959595;
$grey-e1: #e1e1e1;
$font-size-base: 1.4rem;
$font-size-h1: 6rem;
$line-height-base: 1.2;
$font-family-base: Open Sans, Arial, sans-serif;
$min-width-1: 700px;
$min-width-2: 1170px;
$max-width-1: 1170px;
