@import "../../sass/variables";
@import "../../sass/scaffolding";
@import "../../sass/type";
@import "../../sass/mixins";

.page-header {
  padding-top: 55px;
  padding-bottom: 380px;
  background-image: url('../../modules/header/img/page-header__bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-resolution: 2dppx) {
    background-image: url('../../modules/header/img/page-header__bg@2x.jpg');
  }
  @media (max-width: $min-width-1) {
    padding-top: 35px;
    padding-bottom: 280px;
  }
  &__wrap {
    @include wrapper;
  }
  &__logo {
    font-family: Merriweather, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    color: $white;
    text-transform: lowercase;
    line-height: 42px;
  }
  &__logo-img {
    margin-right: 8px;
    vertical-align: middle;
  }
  &__title {
    margin-top: 350px;
    margin-bottom: 25px;
    font-size: $font-size-h1;
    font-family: $font-family-base;
    line-height: $line-height-base;
    font-weight: 300;
    color: $white;
    @media (max-width: $min-width-1) {
      font-size: $font-size-h1 * 2 / 3;
      margin-top: 150px;
    }
  }
  &__text {
    width: percentage(470/1170);
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-base - .1;
    font-family: $font-family-base;
    line-height: $line-height-base + .6;
    font-weight: 400;
    color: $white;
    @media (max-width: $min-width-1) {
      width: 100%;
    }
  }
}