header(class="page-header", role="banner")
  .page-header__wrap
    a(href="#", class="page-header__logo")
      img(src=require("./img/page-header__logo.svg"), class="page-header__logo-img", alt="Take")
      | Take
    h1.page-header__title Picture perfect
    p.page-header__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.